<div class="row">
	<div class="span2 offset10">
			<!-- me@jeromemanuel.com -->
	</div>
	<div class="span12">
		
		<%= image_tag('jerome.png', :class => 'image pull-right')%>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="home-quote-content">I am who I am. I live with <span class="home-quote-content-focus">hope</span>, <span class="home-quote-content-focus">desire</span>, <span class="home-quote-content-focus">passion</span>, and <span class="home-quote-content-focus">determination</span>:</div></br>
		<div class="home-quote-content">to <span class="home-quote-content-focus">make a difference</span>,</br> to <span class="home-quote-content-focus">change the world</span>,</br> to <span class="home-quote-content-focus">do something remarkable</span>,</br> and to <span class="home-quote-content-focus">bring happiness to others</span>.</br></br> </div>
			<div class="home-quote-content">I live to <span class="home-quote-content-focus">create</span>, to <span class="home-quote-content-focus">build</span>, to <span class="home-quote-content-focus">innovate</span>, and to <span class="home-quote-content-focus">inspire</span>.</div></br>
		</div>
	</div>
</div>

<div class="content-separator"></div>

<div class="row">
	<div class="span5 project-container">
		<%= link_to (image_tag('projects_icon.svg', :class => 'category-icon')), projects_url %>
		<%= link_to (image_tag('VIVE-LOGO.png', :class => 'project-logos')), 'http://www.viveproject.co'%>
	</div>
	
	<div class="span5 project-container">
		<%= link_to (image_tag('projects_icon.svg', :class => 'category-icon')), projects_url %>
		<%= link_to (image_tag('that1spot-logo.png', :class => 'project-logos')), 'http://that1spot.com'%>
	</div>
	
	<div class="span10 project-container">
		<%= link_to (image_tag('skills-icon.svg', :class => 'category-icon')), skills_url %>	
		<%= image_tag('rails.png', :class => 'skill-logos')%>
		<%= image_tag('illustrator_cs5_mnemonic_no_shadow_png.png', :class => 'skill-logos')%>
		<%= image_tag('Adobe_Photoshop_CS5_icon.png', :class => 'skill-logos')%>
		<%= image_tag('Google-Analytics-icon.png', :class => 'skill-logos')%>
		<%= link_to 'See more >>', skills_url %>
	</div>
	
	<div class="span10 project-container">
		<%= link_to (image_tag('recs-icon.svg', :class => 'category-icon')), recs_url %>
		<%= link_to (image_tag('linkedin-rec1.png')), recs_url %>
		via LinkedIn - 
		<%= link_to 'See more >>', recs_url %>
	</div>
</div>


<div class="content-separator"></div>

